#contentsDiv {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}
.projectCard {
  margin: 30px;
}
#aboutMeDetails {
  display: flex;
  justify-content: space-evenly;
}
#introduction {
  border-right: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
#techStack {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
  margin: 5px;
}
