.projectCardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 300px;
  height: 350px;
  background: white;
  margin: 20px;
  border: 2px solid #3152ff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#gihubLink {
  color: white;
  align-items: center;
}
.projectPhoto {
  height: 100px;
  width: 200px;
}
#detailsDiv {
  justify-content: left;
  align-items: left;
  text-align: left;

  left: 10px;
}
#seeMoreButton {
  border: transparent;
  background: #3152ff;
  height: 30px;
  border-radius: 20px;
  color: white;
  width: 150px;
  text-align: center;
}
